* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
select {
  background-image: none;
}
input {
  border: none !important;
}
input:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}
.fa-ellipsis-vertical {
  color: black;
}
